<!-- 05/03/2020 Lesson7 Putting it all together -->

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th style="width:200px; text-align:left;">Product Name</th>
      <th style="width:200px; text-align:left;">Product Count</th>
      <th style="width:200px; text-align:left;">Customer's Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.product_name %></td>
        <td><%= order.product_count %></td>
        <td><%= order.customer.full_name %></td>
        <!-- <td><#%= order.customer.to_s %></td> -->
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>






<!-- ------------------------------- -->

<!--
<h1>Orders</h1>

<#% @orders.each do |order| %>
  <p><#%=  link_to order.product_name, order %></p>
<#% end %>

<#%= link_to "New Order", new_order_path %> -->
