<!-- 05/03/2020 Lesson7 Putting it all together -->


<p id="notice"><%= notice %></p>


<table>
  <thead>
    <tr>
      <th style="width:200px; text-align:left;">Product Name:</th>
      <th style="width:200px; text-align:left;">Product Count:</th>
      <th style="width:200px; text-align:left;">Customer's Name:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @order.product_name %></td>
      <td><%= @order.product_count %></td>
      <td><%= @order.customer.full_name %></td>
    </tr>

  </tbody>
</table>

<br/>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %> |
<%= link_to 'Delete', @order, method: :delete %>












<!-- <p id="notice"><#%= notice %></p>

<p>
  <strong>Product Name:</strong>
  <#%= @order.product_name %>
</p>

<p>
  <strong>Product Count:</strong>
  <#%= @order.product_count %>
</p>

<p>
  <strong>Customer Name:</strong>
  <#%= @order.customer.full_name %>
</p>

<#%= link_to 'Edit', edit_order_path(@order) %> |
<#%= link_to 'Back', orders_path %> |
<#%= link_to 'Delete', @order, method: :delete %> -->
